[2021-03-25 10:55] kumardennis commented on #261
Sorry for such late response, the code worked, I just needed to restart the server, prolly it didn't hot update.

[2021-03-25 10:55] #261 closed

[2021-03-25 17:43] nihgwu commented on #283
yes I can confirm there is a bug in `react-texty` but I'd say please don't use this component as it's unmaintained, use other tooltip component as alternative

[2021-03-25 17:43] #283 closed

[2021-03-29 12:43] epaillous opened #285 "scrollToPosition not stopping current scroll, and no possibility to add initial offset"
Hello here,
First I would like to thank you for this great library, I am doing a complex screen with scroll vertical, horizontal and drag n drop, I tried to do it with react window but I was not able to have a fixed column easily, I discovered your awesome library and it simply save my life ! So **thanks a lot** 🙏

To add some context, I am doing this screen :
![planning](https://user-images.githu

[2021-03-29 20:26] mobot11 opened #286 "Loading new data causes custom TableHeaderCell component to unmount completely from the DOM and remount"
I'm trying to sort a set of data with custom dropdown components I'm injecting into the header cells. The sort calls an API which loads new data. Every time I call the API and pass new data to the table the `TableHeaderCell` component goes through a full life cycle, fully un-mounting and re-mounting. This causes my component's state to get completely wiped out and the dropdown to close. Is there a

[2021-03-29 21:17] nihgwu commented on #285
Hi, thanks for the detailed information, first of all I'd `BaseTable` would not be a good choice for your case, as it doesn't provide builtin column virtualization rendering (but you can achieve a similar behavior https://github.com/Autodesk/react-base-table/issues/36)

I'm not fully understand your problem, but yes scroll methods won't cause table re-rendering, but if you change `columns` it will

[2021-03-29 23:37] mobot11 commented on #286
User error 😄  Thanks.

[2021-03-29 23:37] #286 closed

[2021-03-30 09:23] epaillous commented on #285
Thanks for your answer !

At the beginning I was thinking to use react-window directly to virtualize columns for each day, but :
- staffing can be more than one day
- it is possible to have several staffings on the same day, for example, on a tuesday, I could have a 50% staffing on the whole week and 25% only on the two first days of week.
- we should be able to drop a staffing on each single day

[2021-04-05 12:11] Jaguar1 opened #290 "Change the default sort direction to DESC on first click on each column header"
Hello, currently if you click on random column header you get results sorted ASC and then DESC, and etc. The toggle ASC/DESC is correct but it always starts with ASC. I need this to start with DESC: when you click on any column header I need first sort direction to be DESC. Here is a basic playground:

https://autodesk.github.io/react-base-table/playground#MYGwhgzhAEBOCmZgBcBCl4BUwCMTwFEAPMAWwAd9p

[2021-04-05 22:22] nihgwu commented on #290
you can always use controlled state to control the next sort direction, for the sort indicator, you can use customised SortIndicator as well

[2021-04-07 11:56] Jaguar1 commented on #290
Hello, thank you for replying.

Sort indicator is nice and I do not want to mess with changing it. The problem is that currently the component always returns 'ASC' in onColumnSort sortBy on first click:

[code]
This seems to be the initial state of sort.
Isn't it possible to pass some property with default first sort to the component like "firstSort=DESC"?

Thank you once again!

[2021-04-07 19:10] nihgwu commented on #290
I don't want to bloat the api, perhaps next time I should simply omit the next sort order, it could means nothing in your case, you can simply ignore it, in that case you can even clear the sort state after a toggle round, `DESC -> ASC -> NONE` https://autodesk.github.io/react-base-table/examples/multi-sort

[2021-04-08 06:01] Jaguar1 commented on #290
Hi again,

In my case I can have multiple columns (50+) with financial data, and just one of them must be with a default DESC sort at the very beginning. The rest must not be ordered. This is a list of companies with their data, and the only column with default DESC order is Total Operating Revenue. At the very beginning the rest must not be ordered (no multi-sort as well). User can order by singl

[2021-04-08 15:11] kumardennis opened #291 "Default table complains about unset width"
Just using the default table complain about unset width prop for the table, as I am seeing in examples, width is not specified and it works fine. What is causing this problem ?

[2021-04-08 15:15] kumardennis opened #292 "Strange div blocks the table"
strange div with inline styles `style="overflow: visible; height: 0px; width: 0px;"` seems to be laying over,

If I don't apply these css styles :
`
div[style*="overflow: visible; height: 0px; width: 0px;"] {
    height: auto !important;
    overflow-y: scroll !important;
    width: fit-content !important;
    height: 400px !important;
    z-index: -100;
    &::-webkit-scrollbar {
      width: 0px

[2021-04-08 15:17] kumardennis opened #293 "Table rows displays incorrect data on scroll"
The actual dataSource seems to be correct, but when start scrolling, the displayed data inside  the rows starts flickering and shows incorrect rows.
This is with AutoResizer and DraggableContainer setup.

[2021-04-08 16:16] nihgwu commented on #293
do you have unique `rowKey` (default to `id`) for each row?

[2021-04-08 16:20] nihgwu commented on #292
It doesn't matter as it's from `AutoResizer`(react-virtualized-auto-sizer) for resize detecting, you don't need `AutoResizer` if you know the size of you table

[2021-04-08 16:20] #292 closed

[2021-04-08 16:20] nihgwu commented on #291
https://github.com/Autodesk/react-base-table#size

[2021-04-08 16:20] #291 closed

[2021-04-08 16:22] kumardennis commented on #293
this is what i have
`
  const Row = ({ key, index, children, ...rest }) => (
    <DraggableElement
      style={{ height: "40px !important" }}
      key={key}
      id={key}
      index={index}
      rowKey={key}

      <div {...rest}>{children}</div>
    </DraggableElement>
  );
`

I am not sure if this is how it should be

[2021-04-08 16:23] nihgwu commented on #293
I mean the `data` https://github.com/Autodesk/react-base-table#unique-key

[2021-04-08 16:46] kumardennis commented on #293
oh yeah ofcourse, i already had id, but i added rowKey as well, still the same issue

[2021-04-08 16:56] kumardennis commented on #293
finally, i had parentID as well set to null there, removed, and it worked.
Thanks !

[2021-04-08 16:56] #293 closed

[2021-04-22 22:52] robbiemoore opened #296 "Can't scroll on safari mobile"
The library is working really well, except on safari (mobile) - when you try to scroll down by dragging the table, it doesn't scroll. Is this a known issue? It seems to happen when using a fixed table.

[2021-04-23 10:54] abubakir1997 opened #297 "BUG - Extra Header Cell Placeholder"
## System:
 - OS: macOS 11.2.3
 - CPU: (4) x64 Intel(R) Core(TM) i5-7360U CPU @ 2.30GHz
 - Memory: 788.74 MB / 8.00 GB
 - Shell: 5.8 - /bin/zsh
## Binaries:
 - Node: 12.21.0 - ~/.nvm/versions/node/v12.21.0/bin/node
 - Yarn: 1.22.10 - ~/.nvm/versions/node/v12.21.0/bin/yarn
 - npm: 6.14.11 - ~/.nvm/versions/node/v12.21.0/bin/npm

## Bug:
I have a weird bug, for some reason this one table adds an ext

[2021-04-27 15:57] dpyzo0o commented on #3
Hi, @nihgwu , really nice work for the library.  When do we expect to have the v2 released? This roadmap has been open for 2 years.

[2021-04-28 20:36] saperdadsk opened #298 "Type of Alignment (and other constants) in types/index.d.ts is a 'type' instead of a 'value'"
Currently, Alignment is exported as a variable directly in index.js
[code]
and is defined as
[code]

However, in types/index.d.ts, Alignment is specified as
[code]
which is a type, not a value. This means that a statement like
[code]

Will fail if compiled with typescript, since types cannot be used as values:
[code]

Later in types/index.d.ts, Column.Alignment is typed:
[code]
So the code
[code]

[2021-05-13 15:15] slaweksor opened #305 "TableRow rerenders on scroll"
TableRow rerenders when scrolling. This can be seen using React Dev Tools with Higlighting option on on every example react-base-table provides.

WhyDidYouRender says TableRow recieved new style object which has the same values inside.

v 1.12.0

[2021-05-24 17:41] RichardSPrins opened #306 "Excessive rerenders on various browser events react-base-table"
Currently using react-base-table v1.12.0

Migrating from react-table to react-base-table usage across app, this is a new table and I am experiencing excessive rerenders across any scroll or mouseover events on the whole table.

All custom components used in cellRenderer are memorized, as well as the data being passed into the table, yet seeing intense performance drops from rerenders.

Loom video

[2021-05-27 15:41] kumardennis opened #309 "Possibilty to change value of different cell based on current cell without losing focus in the field."
Hi!

I want to know if there is some possibility or workaround for a situation where:
-> User edit a cell value.
-> Another cell's value changes based on the edit but without losing focus in current cell (obv, cell loses focus because of rerendering happening after i update the dataSource for the table).

But is it possible ?

[2021-06-03 06:53] kaleem-elahi commented on #3
Many wonderful feature, I don't know why but table has some issues, It works in Mobile but not showing up in desktop

great work @nihgwu

[2021-06-08 13:46] kaleem-elahi commented on #98
need this feature

[2021-06-09 13:05] kaleem-elahi commented on #96
yes please add an example @nihgwu  Thanks

[2021-06-09 16:56] kaleem-elahi commented on #306
then what to do about this issue ?

[2021-06-09 17:02] RichardSPrins commented on #306
I don't have any suggestions, as I am just bringing up an issue that doesn't seem to be discussed at all with this library.

[2021-06-10 01:10] nihgwu commented on #296
fanny fact is that this component is designed to be used for desktop devices, but it should just work on mobile

[2021-06-10 01:11] nihgwu commented on #296
just tried the demo on my iPhone and it scrolls on dragging

[2021-06-10 01:15] nihgwu commented on #290
Sorry for the later response, the problem is that in that case we would need more props like clearing sort on the second click, in the future perhaps I should support custom reducer for the next sort state

[2021-06-10 01:16] nihgwu commented on #297
Sorry for the late response, do you have any clue on this issue? As you said it works well in other places, so I guess there is something different in this component which trigged the problem

[2021-06-10 01:20] nihgwu commented on #298
it's definitely not intended and the type definition in `types/index.d.ts` is wrong I think, I was completely new to TS when bringing typings into this package

[2021-06-10 01:28] nihgwu commented on #305
Thanks for reporting, will have a look

[2021-06-10 07:39] dohoangtung opened #311 "How customize Body of the table"
Hi,

I see that I can use component to customize TableCell, but how to customize the Body? I want to warp  Body of the Table with contextMenu.

Thanks,

[2021-06-10 08:04] nihgwu commented on #311
you don't need to  you can use Portal to implement context menu, that's what we do internally, like `<><BaseTable rowEventHandlers={{onContextMenu}} /><ContextMenu ref={menuRef} /></>`

[2021-06-10 08:21] dohoangtung commented on #311
Thanks for the quick reply. I know that I can do this way but it takes lot of efforts to developing the menu component,  checking mouse pointer position, control trigger area  etc, I'm going to use Dropdown from Ant Design and finding a way to integrate with BaseTable.

Thanks

[2021-06-10 08:25] nihgwu commented on #311
Yes `Dropdown` should be helpful here, you don't need to customise table body

[2021-06-10 08:48] kaleem-elahi commented on #306
Np @nihgwu  What can we do about this issue @nihgwu ?

[2021-06-10 08:50] dohoangtung commented on #311
Thank you. I've managed to develop the menu without customizing the table body.

[2021-06-10 08:50] #311 closed

[2021-06-10 08:57] nihgwu commented on #306
@kaleem-elahi I'll investigate this week, sorry for the delay

[2021-06-12 10:20] kaleem-elahi commented on #98
Hi @nihgwu

When can we expect this feature, this lib is really cool

Thanks for builing it

[2021-06-13 16:37] aselcuk opened #312 "rowRenderer invalid hooks error"
I used rowRenderer for my custom row component and ı need to use useEffect hooks inside this component but ı got Invalid hook call error.
[code]

if ı use the hooks inside ***EventRow*** component ı got ***react.development.js:1476 Uncaught Error: Invalid hook call. Hooks can only be called inside of the body of a function component.*** error.
***EventRow*** is a functional component.

[2021-06-13 16:47] cph0 commented on #312
You can pass an inline function to the rowRenderer prop like this:

[code]

You shouldn't get the invalid hooks error in this case.

[2021-06-13 17:22] aselcuk commented on #312
@cph0 thanks for solution ı applied it but ı think still this an issue.

[2021-06-13 18:24] cph0 commented on #309
Yes it is possible. You can use the Zustand state library to re-render a single cell instead of updating the whole tables data. I haven't figured out adding/removing rows but editing can be done.

[2021-06-13 18:38] nihgwu commented on #312
@aselcuk Hey, that's because if it's a function, it will be invoked directly instead of `React.createElement` for performance reason, and that is made before React Hooks are created, in the next major version, it will always be treated as a component

[2021-06-13 22:33] nihgwu commented on #306
Hey, do you experience performance issue? It's intended to re-render the table if you have frozen columns as there would be two (or three if you have both left and right frozen columns) inner tables and I need to update the current hovering row state to sync the hovering style. And I don't think that would be a problem, you will see only the rows that have hovering state changed would re-render.
F

[2021-06-13 22:34] nihgwu commented on #305
https://github.com/Autodesk/react-base-table/issues/306#issuecomment-860279433

[2021-06-13 22:43] nihgwu commented on #298
![image](https://user-images.githubusercontent.com/2595058/121824046-20fa2f00-cca1-11eb-8546-057993f4e31f.png)

[2021-06-13 22:48] nihgwu commented on #282
Sorry for late response, the dynamic row height feature is pretty new and there could be incompatibility issue, and I can imagine that as virtualized table relies on row height by index, but when dnd the index is changing the but row height cache doesn't get updated, and I guess there won't be easy solution for that, perhaps a normal table component would be more suitable for your case

[2021-06-14 02:51] kumardennis commented on #309
is it possible to see an example ?

[2021-06-14 06:59] cph0 commented on #309
I've made a small example without Zustand actually. It's just a text input and it keeps the focus. You might need to share your particular code/example in order to figure out why your input is losing focus.

https://codepen.io/cph0/pen/BaWGrWx

[2021-06-14 11:07] kumardennis commented on #309
Table component:
[code]

Columns:
[code]

OnChange:
[code]

HandleSaveProductsGrid:
[code]

Input Component:
[code]

[2021-06-14 11:08] kumardennis commented on #309
I am using react-easy-state btw, if that helps identify problem :/

[2021-06-14 20:24] cph0 commented on #309
I've found the problem.  Your code wasn't working due to the inline function for the cellRenderer. This was causing the focus to be lost for some reason (an extra render somewhere).  However to use hooks inside the renderer you need it this way.   I've updated the codepen with three examples.  The one I wrote first that worked (but no hooks inside renderer), one that shows your's doesn't work and

[2021-06-15 08:59] kumardennis commented on #309
yeah i knew the problem that it was making an extra render, but thanks a ton sir! I will try to implement and update this issue :)

[2021-06-15 09:50] dohoangtung opened #313 "Move resizing line without effect the column widh"
Hi,

My table contains more than 20 columns, and using the current column resizer solution (https://autodesk.github.io/react-base-table/examples/resizable) lead to performance issue, especially for large screen (32inch vs 2k resolution). I wonder if there is a way to only move the resizing line and update column width when onColumnResizeEnd (mouse released), Please help.

Thanks

[2021-06-15 09:57] kumardennis commented on #309
So i should not use react-easy-state as it re-renders the component everytime dataSource in the store changes ?

[2021-06-15 10:11] kumardennis commented on #309
okay things work with react-easy-state as well, I just removed `view` HOC from table component and kept only at EditableCell component, and pass value straight from the store instead of passing as props.
Thankyou so much @cph0 ! 💯

[2021-06-15 10:11] #309 closed

[2021-06-15 22:45] nihgwu commented on #313
Sorry I don't think it's possible with current implementation, not sure if it's achievable if you render the ColumnResizer by your own

[2021-06-16 07:27] tudiantuan opened #314 "Scrolling table is slow"
Hi,

My table contains more than 30 columns and 10k rows. When scrolling, wheel mouse quite slow and table delay 0.5-1s render more below data. Please give me a guide to improve performance ?
This is my example on codesandbox: https://codesandbox.io/s/react-base-table-forked-wsmcz?file=/src/App.tsx
Thanks

[2021-06-16 12:58] ThiBsc commented on #282
@nihgwu Thank you for your answer, and yes I finilly did it with react-table component

[2021-06-18 23:45] abubakir1997 commented on #297
It turned out two columns had the same key which caused the issue.

[2021-06-18 23:45] #297 closed

[2021-06-22 10:16] qiuyeduxin opened #315 "There is a problem with the rowSpan property"
![image](https://user-images.githubusercontent.com/10897871/122907161-6dbac580-d385-11eb-9769-3afdfb6b103e.png)

As shown in the above figure, the example of rowpan in the official website, when I set the rowspan to be larger, the above figure will appear when I scroll. I hope the author can fix this problem

[2021-06-22 10:16] qiuyeduxin commented on #315
https://autodesk.github.io/react-base-table/examples/row-span

[2021-06-24 09:22] kaleem-elahi commented on #3
Need this  version 2 release

[2021-06-24 12:28] kaleem-elahi commented on #176
Getting same issue, is Id a column name or it is from row data ?

[2021-06-24 16:37] nihgwu commented on #176
@kaleem-elahi there should be unique id for each item in `data`, and it defaults to `id` but if you are using other property like `code` or `key`, you need to specific it via `rowKey`

[2021-06-24 18:04] kaleem-elahi commented on #176
@nihgwu  Actually, I am getting an issue of Infinite scroll with Frozen columns, It doesn't work

![image](https://user-images.githubusercontent.com/10118543/123311261-96d58480-d544-11eb-819c-eee7a2c4b93c.png)

[2021-06-24 18:18] bjoe87 opened #316 "Keyboard tabbing order issue"
Noticing that if you have a tab index in the header cells and the body cells you need to go through the whole table body cells before you are able to navigation to the header cell. https://codesandbox.io/s/react-base-table-forked-ujr0o

Looking through the codebase it seems like this markup order change was related to a styling issue.
" // put header after body and reverse the display order via cs

[2021-06-29 15:47] kaleem-elahi opened #317 "Getting issue with Resize after Sorting table"
I am getting another table behind original table, i am attaching the video screenshot of the issue to recognise it better

This issue happens when I click on column header for Sorting and then resizing it from browser window.

Check: https://drive.google.com/file/d/1jwWuGe0d2vllR-BGFnBlY-nJOeY1fexS/view?usp=sharing

[2021-06-29 15:52] kaleem-elahi commented on #98
How I handled it through CSS:

[code]

[2021-06-29 20:17] nihgwu commented on #317
That's interesting, did you changed `fixed` conditionally?

[2021-07-02 04:48] kaleem-elahi commented on #317
yes @nihgwu I have used condition on `fixed` prop

`fixed={isMobile ? true : false}`

[2021-07-03 18:09] kaleem-elahi commented on #317
Hi @nihgwu  Can you please help me with this ?

[2021-07-05 14:38] skyshine999 opened #319 "rowClassName prop class is not applying"
I am using rowClassName prop in react base table. Actually i want to show different row background color for particular condition. I am trying to use this prop but it is not working.

const handleRowClass  = ({ rowData, rowIndex }) => {
    if(rowIndex === 1){
      return "table-highlight-row" // class name
    }
    return ""
  }

[2021-07-06 22:02] nihgwu commented on #319
can't reproduce it
![image](https://user-images.githubusercontent.com/2595058/124671987-359ba280-deae-11eb-83cc-fcbcd93ecad4.png)

[2021-07-07 11:24] sklinov commented on #111
Hi, @nihgwu ! I think I'm facing the same issue when I'm trying to pass some async stuff to `cellRenderer` and it looks like `BaseTable` is using the first closure of it.
https://codesandbox.io/s/react-base-table-async-js0to?file=/src/App.tsx

Can you help with any universal workaround for it until the next major release?

[2021-07-07 22:54] nihgwu commented on #111
@sklinov https://github.com/Autodesk/react-base-table#closure-problem-in-custom-renderers

[2021-07-08 10:44] lehos commented on #306
so can you do it, please?

[2021-07-08 14:28] skyshine999 commented on #319
yeah my side i gave wrong style, now it is working fine thanks

[2021-07-08 14:28] #319 closed

[2021-07-13 06:43] Manoj-Bharti opened #320 "Widen peer dependency range to include React 17"
Currently `react-base-table` only supports `react-16`

[code]

Could this be widened to ^16.0.0 || ^17.0.0?

[2021-07-15 18:09] kachkaev commented on #320
@Manoj-Bharti have you tested the library with React 17? I know that it should all work fine in theory but it's probably best to have some data backing that.

I'm not a maintainer of this project, but I think that it'd be great if you could submit a PR with the tweak 🙂

[2021-07-19 19:47] stephannielsen commented on #264
Hei @nihgwu

I just implemented this as well based on your sample. One issue I am facing now is that the expanding does not work when explicitly clicking the expand icon. You can test in this in your sample as well. Hovering over the icon shows the pointer, but clicking it has no effect. Only clicking anywhere else in the row correctly expands it.

Any idea on how to fix/achieve this?

[2021-07-19 23:22] nihgwu commented on #264
@stephannielsen that's because click event is prevented in `ExpandIcon`, you can either implement your own `ExpandIcon` or simply make it `pointer-events: none` (`.BaseTable__expand-icon`)

[2021-07-20 13:47] stephannielsen commented on #264
Thanks for the quick reply. Chose `pointer-events: none` for now, fits my needs.

[2021-07-21 11:20] sklinov commented on #44
@nihgwu I believe this API doesn't exist anymore? I couldn't find it in any relevant place in the codebase.
Also the example in the documentation looks outdated, because now there's not such prop as `cells` in `headerRenderer`
What is the type of object `headerRenderer` expected to return in order to have grouped header? A nested array of `React.Node`s?

[2021-07-21 13:11] sklinov commented on #44
Ok, I think I've figured it out!
For ones of you (@eokoneyo , @NexxLuo ) who are struggling with docs and can't find a working example here's a Sandbox with 2 options for `headerRenderer`.
Note that there are 2 of them with different signatures (one in `<BaseTable >` and one in `<Column>` components).
The `headerHeight` prop in `<BaseTable>` is the one that defines the number of levels in header,

[2021-07-23 04:31] RichardSPrins opened #321 "Props passed to Header in headerRenderer not updating"
Is this a default behavior due to caching? We implement a custom sorting feature that asynchronously fetches data before sorting, but I am passing an orderBy object to my header for sort icon render logic, and I am only getting the initial value passed in as an orderBy prop, but upon updating that state it does not update this value in my Header component being passed into the renderer.
![Image 7-

[2021-07-26 07:58] kaleem-elahi commented on #108
@nihgwu

What should we do to remove fixed height in the table, any solution? Shall we use SCSS or something to target?

[2021-07-26 09:09] nihgwu commented on #108
@kaleem-elahi you can use `height={Infinity}`

[2021-07-28 10:36] kaleem-elahi commented on #108
Do you mean like this ? @nihgwu

![image](https://user-images.githubusercontent.com/10118543/127308580-bbeeb86e-92ab-44b8-8c96-ec36a5db60c9.png)

[2021-07-28 22:11] nihgwu commented on #108
@kaleem-elahi  `<AutoResizer disableHeight` if just want to measure the width

[2021-07-29 11:20] kaleem-elahi opened #322 "Infinite scroll in table without fixed height"
I want to know if there is Infinite functionality available without fixed table height, which means infinite scroll on the whole page

/cc @autodesk-github-bot

[2021-07-29 12:30] kaleem-elahi commented on #89
I have RowHandler to call a function onClick of row and also a menu popup in cell to open menu on click... now what happens when i click on menuPopover in cell, RowHandler events are fired, I don't know where i have to add Stoppropaate to stop propagation or is there a different way to handle this ?

[2021-07-29 13:27] nihgwu commented on #89
@kaleem-elahi that's how React Portal work, it will propagate events to it's host(there is a long discussion on this behaviour in React's repo) , so you need to stopPropagation in your popover

[2021-07-30 08:42] QiAnXinCodeSafe opened #323 "There is a vulnerability in xmlhttprequest-ssl 1.5.4,upgrade recommended"
https://github.com/Autodesk/react-base-table/blob/6c8b2372c8185c1c6d80a7c7bab7cc2f01e3e689/website/yarn.lock#L12023-L12026

CVE-2021-31597  CVE-2020-28502

Recommended upgrade version：1.6.1

[2021-07-30 08:53] QiAnXinCodeSafe opened #324 "There is a vulnerability in node-forge 0.7.5,upgrade recommended"
https://github.com/Autodesk/react-base-table/blob/6c8b2372c8185c1c6d80a7c7bab7cc2f01e3e689/website/yarn.lock#L7707-L7710

CVE-2020-7720

Recommended upgrade version：0.10.0

[2021-07-30 09:05] QiAnXinCodeSafe opened #325 "There is a vulnerability in ssri 6.0.1,upgrade recommended"
https://github.com/Autodesk/react-base-table/blob/6c8b2372c8185c1c6d80a7c7bab7cc2f01e3e689/website/yarn.lock#L10606-L10609

CVE-2021-27290

Recommended upgrade version：6.0.2

[2021-07-30 09:14] nihgwu commented on #322
I think you can do that via check `isIntersecting` of `Footer` using `IntersectionObserver` and use `height={Infinity}`, but in that case there will no virtualization anymore, right now it's only supported in a fixed table height

[2021-07-30 09:18] QiAnXinCodeSafe opened #326 "There is a vulnerability in css-what 2.1.3,upgrade recommended"
https://github.com/Autodesk/react-base-table/blob/6c8b2372c8185c1c6d80a7c7bab7cc2f01e3e689/website/yarn.lock#L3105-L3107

CVE-2021-33587

Recommended upgrade version：5.0.1

[2021-07-30 11:35] kaleem-elahi commented on #317
what to do @nihgwu ?

[2021-07-30 13:16] kaleem-elahi opened #327 "Changing the default Sort icon"
Hoe to sort default sort icon and use a custom component in place of that ? @nihgwu

[2021-07-30 14:40] kaleem-elahi commented on #327
Closing as there is already a way given in documentation.

Thanks!

[2021-07-30 14:40] #327 closed

[2021-08-05 14:12] kamarajuPrathi opened #329 "Flickering when using expandrow in details view"
I have content as another table under expandKey when i scroll its flickering ?

is that a known issue ?

[2021-08-05 15:23] kamarajuPrathi commented on #329
Using latest version

[2021-08-06 09:12] RickLucassen commented on #320
We've been using this library with React 17 for 5 months now without any issues :), would love to see this updated. Might open a PR for it.

[2021-08-06 12:32] mjangir commented on #327
Where did you find that way? I also want to do that. thanks.

[2021-08-06 13:19] kaleem-elahi commented on #327
@mjangir just use prop `components` and in that use `SortIndicator`.
[code]

[2021-08-07 17:10] Manoj-Bharti commented on #320
@kachkaev Sorry for the late response, I was pretty occupied with other stuff and missed the notification of your comment. Also, I am too late now as @RickLucassen (thanks for that) already has PR ready for this 😄

[2021-08-08 22:51] nihgwu commented on #3
It has been more than two years since I created this ticket, a lot of things have changed, for example I'm not the admin of this repo anymore, so I can't land any changes(I revoked my 2FA to Github, I emailed to opensource@autodesk.com for the permission but no response for quite a long time). Although I don't work for the project which I created this component for, but I always have the willing t

[2021-08-08 23:23] nihgwu commented on #320
Hey I believe it works fine with React 17, but [I lost my access to this repo](https://github.com/Autodesk/react-base-table/issues/3#issuecomment-894867194), for now you can just ignore the dependency warning

[2021-08-09 03:07] kaleem-elahi commented on #3
Sorry if you mind, Does that mean we should not rely on this library more? @nihgwu

[2021-08-09 09:33] nihgwu commented on #3
@kaleem-elahi No, even I don't use this component much as I leave the previous project, but it's a baby of mine, so I will keep on improving it(and it's still heavily used in the projects I worked on), and actually there are not much blocking issues for the current version, and I'll ask for the permission to access this repo for better maintenance, what I wanted to say is that for the next major v

[2021-09-01 21:51] nihgwu commented on #3
@jamesonhill not yet, I'll contact my ex-colleague for help, seems the open-source email address is abandoned

[2021-09-30 06:44] hellobq commented on #64
Looking forward to Filter in Header 😄

[2021-11-01 12:28] fgatti675 commented on #3
Hi everyone, how about just forking the project and creating a new package?

[2021-11-02 16:29] bjoe87 commented on #3
Hey @nihgwu was curious if getting rid of the multiple grids for frozen columns would be in this roadmap? I started looking into it and have it working but some of the snapshots need to be updated. Also is this still your vision for 2.0 or have new features come into mind since its been awhile? Thanks for the awesome grid btw! :)

[2021-11-09 06:41] phaweens commented on #3
Hi @nihgwu, I'm trying your base-table out. Could you please add example for column grouping because it's essential for my work, thanks.

[2021-11-26 07:11] mengfei0053 opened #342 "How to use dynamic rowHeight and "react-sortable-hoc" at the same time"
Hi friends,
I want to use dynamic row height, fixed some columns, and support drag and drop at the same time.
But,If I set rowProps, the dynamic rowHeight will be invalid。

Do you have suggestions or solutions

[2021-12-01 17:40] harshitdavda commented on #153
@nihgwu, can you share how can we achieve this behaviour with the current version. Thank you!

[2021-12-06 03:52] heyuenan opened #343 "The scroll fit"
when i use Auto Resize component；coding： const columns = generateColumns(10)
const data = generateData(columns, 10)
const newColumns = columns.map((item,index)=>{
  if(index<2){
    return({...item,frozen: Column.FrozenDirection.LEFT})
  }
  return({...item})
})

const Container = styled.div`
  width: calc(50vw + 220px);
  height: 50vh;
`

const Hint = styled.div`
  font-size: 16px;
  font-weight:

[2021-12-06 04:21] hoist1999 opened #344 "Flex mode example problem"
https://autodesk.github.io/react-base-table/examples/flex-column

The `  <Table data={data}>`  here lack of a ` fixed={false} ` which is needed for flex mode. Thank you.

[2021-12-10 07:42] skyshine999 opened #345 "How to enable default sort order in column object"
I am creating columns array by adding objects.but for one row i need to enable default sort order. I didn't find any sort order prop without clicking on sort arrows.

column = {
          title: itemObj.CNAME,
          dataIndex: itemObj.KEY,
          key: itemObj.KEY,
          align: "right",
          sorter:a[itemObj.KEY].localeCompare(b[itemObj.KEY],
          default sort order ===> asc ||

[2021-12-14 08:37] Danielg212 opened #346 "Is there a way to make nested table per row?"
I'm trying to create a nested table(like in the image) by rendering BaseTable inside row contact -  but with no success.
![image](https://user-images.githubusercontent.com/24668564/145962672-ad68456e-81b2-4260-a360-34487ebf9bc6.png)

Any suggestion/example?

[2021-12-16 08:31] Danielg212 commented on #346
I created it with rowRenderer that renders <BaseTable> if row's children.data exists.

[2021-12-16 08:31] #346 closed

[2021-12-20 20:01] berziiii commented on #316
I second this. I have a workaround leveraging `patch-package` to change back the ordering to have the `<Header .. />` render first, then the `<Grid ... />` but if we're able to change this so the header appears in order for ADA purposes that would be great :)

[2021-12-21 20:58] murtdagi opened #347 "show link in a cell when mouse hover over the row"
I have a scenario where i have 5 columns in a table.
When the mouse is hovered anywhere on the row, i want to make the 3rd column a link for the user to be able to click and launch out. I am unable to figure out how can i achieve this?
any thoughts @nihgwu

[2021-12-21 22:50] nihgwu commented on #347
https://autodesk.github.io/react-base-table/playground#MYewdgzgLgBKA2BXAtpGBeGBzApmHATgIZQ4DCISqEAFAIwAMAlANwBQoksAJiURtjyESOACJ8aCFJAA0MAEwNm7NjgAeABxAEeOAGZFE8WDSYYAfDADebGHHDQYAbQAWIAG6Ec3AEogA7gDSOACechA4UAASHl6+AcEhALoCPjhEwFAAdIgRAMpQIjRgRvCsbLb2XPbwEKnpmTkRALI4yCA0phbWlXYAlnowNACEbp4E3n5BoWYTUIgEYDXSEOx2dnMLS1LUWchEGp0Icn3camboljbr6wNDp2oww+iYAMyzkVs1azcwm4s9X7rLIg469X7AHDweBpMDcLwEABcQysfw

[2021-12-21 22:52] nihgwu commented on #345
there is no sorter in column shapa, use `sortBy` or `sortState` https://autodesk.github.io/react-base-table/api/basetable#props-sortBy

[2021-12-21 22:53] nihgwu commented on #344
Sorry I didn't get it

[2021-12-21 22:56] nihgwu commented on #343
Sorry I didn't get it, how to reproduce it?

[2021-12-21 22:57] nihgwu commented on #342
I'm not sure if dynamic row height would play well with react-sortable-hoc with the current implementation

[2021-12-21 22:58] nihgwu commented on #329
sorry for late response, is there a minimal reproduce demo?

[2021-12-22 08:39] murtdagi commented on #347
Excellent, thanks a lot

[2021-12-22 08:39] #347 closed

[2021-12-23 17:32] JacobCutshall opened #349 "Can't perform a React state update on an unmounted component."
- EDIT: I didn't fix the issue but found a way to work around it. I can set the sections under react-bootstrap Tabs component to mountOnEnter. I avoided this because it will cause the device to lag a little when clicking on an un-rendered tab/ unMounted Component.
---
I have a page that has four separate sections. Each of these sections is a react-bootstrap Tab containing a react-base-table (using

[2021-12-23 19:39] nihgwu commented on #349
You can just ignore the warning, in React v18 this warning is removed
Regarding the style overriding, follow the guideline to provide your style variables

[2021-12-24 08:50] heyuenan commented on #343
<img width="458" alt="截屏2021-12-24 下午4 38 21" src="https://user-images.githubusercontent.com/70958587/147335537-81cd7b76-a1ff-4082-bb03-d9ad657ccabe.png">

Changing the screen zoom rate will emerge
<img width="584" alt="wecom-temp-28c4a4e6853a5b90f4604f9f188966bb" src="https://user-images.githubusercontent.com/70958587/147336707-e8287739-79e1-427f-a631-cbe9a3093f16.png">
<img width="716" alt="weco

[2021-12-27 21:24] ElixirMike opened #350 "How to highlight /change background color of selectedRow?"
I've been trying to use the examples provided to do this, but I don't have/use styled components and what I want to do is change the background color of the row which has just been selected. I store the row in a state variable, but where/how do I use this to change color?

I think the rowProps is the right place, but what exactly do I return when calling rowProps? For example, if I wanted to chang

[2021-12-27 22:59] ElixirMike commented on #350
found solution.

[2021-12-27 22:59] #350 closed

[2021-12-28 13:43] ElixirMike opened #351 "How to change the zIndex in Header to allow Dropdown list of actions?"
I'm trying to add a dropdown list of actions in the header. The issue is that I can't seem to change the zIndex so that the dropdown options appear on top. I am using the headerRenderer to change the header and specify the dropdown . I wrap it in a Div and specify the zIndex, but this is not working.

How would I get the dropdown list of actions to properly appear on the top?

![image](https://use

[2021-12-29 21:58] mangkang commented on #255
Hi @dohoangtung ,

Did you figure out a solution for the re-render issue during scrolling? I notice similar issue with losing scrollbar positioning.

Thanks.

[2021-12-29 23:23] nihgwu commented on #255
For @dohoangtung 's case, he made a mistake that `setState` of `useState` will replace the state instead of updating partially, here is a working version https://codesandbox.io/s/test-basetable-infinitiveloading-forked-3dn3j?file=/src/Table.js, change `setState(state)` to `setState(prevState => ({...prevState, ...state}))`

[2021-12-29 23:26] nihgwu commented on #351
zIndex won't work in this case as there is `overflow: hidden`, you should use `Portal` (like popper.js) to render it outside of table

[2021-12-29 23:26] nihgwu commented on #351
https://github.com/Autodesk/react-base-table/issues/116#issuecomment-553220764

[2021-12-29 23:26] #351 closed

[2021-12-29 23:27] ElixirMike commented on #351
Any chance you have an example of how to do this?

[2021-12-29 23:27] #345 closed

[2021-12-30 01:42] mangkang commented on #255
Thanks for the quick reply. That helps!

[2022-01-04 07:43] mmahalwy commented on #125
@danielwyb any luck with this?

[2022-01-04 08:03] mmahalwy opened #352 "Fixing footer at the bottom with scroll and resize support"
This was posted previously:
![image](https://user-images.githubusercontent.com/3749095/148027712-6ad1aeb6-fe8b-4754-8ef5-f9d6b62dee88.png)

Goal is to have a footer that'd match the column widths and scroll. Thoughts on how to achieve this? I figured using `onScroll` and listening for the scroll left position could help, but wont help with column different widths. Thoughts?

[2022-01-04 17:06] #349 closed

[2022-01-04 22:10] mmahalwy commented on #352
I guess this can also be built in. Similar to `cellRenderer` I can open a PR

[2022-01-08 00:33] conchau opened #353 "Dynamic table height without scroll"
I've tried using the AutoResizer to make a table that expands vertically to fit the data, but since a height value is required to render the data in the table, the whole table becomes scrollable once it reaches the min-height value.

Instead, I need the table to expand in height to fit the data instead of the overflow data becoming scrollable.

Here is what I have:

    const Container = styled.di

[2022-01-08 01:24] nihgwu commented on #353
As I explained in the linked issue, in this case you just need to set `maxHeight={Infinity}` and that's all, `AutoSizer` is used to measure the parent container's size so the table can fit in it, but now you don't need that, you don't need to use it at all or, you can only use it to measure the width by `disableHeight`

[2022-01-10 16:27] conchau commented on #353
I have tried this by removing the AutoResizer, setting a fixed width and height, and adding `maxHeight={Infinity}` but that cuts off the table.

[2022-01-10 18:17] nihgwu commented on #353
@conchau makes no sense, can you share a example via https://autodesk.github.io/react-base-table/playground
[demo](https://autodesk.github.io/react-base-table/playground#MYewdgzgLgBKA2BXAtpGBeGBzApmHATgIZQ4DCISqEAFAIwAMAlAFCiSwAmJRG2ehEjgAiPGghSQANDABMDBa3bQYAMwIgAXnlFRemXPmKldRcZUkQZdGQHJ1WvAFoNAdye3WbcCtUBLAA8cTgoqNEwJagA6ZCIABxpzMJlIsABJME4cAKYMAD4YAG8WGBh4HFgHbTASmD9VGCTJDKyAmAAeGDpcqrw+UMkogD

[2022-01-10 20:36] conchau commented on #353
I resolved my issue by setting a min-height on the parent div, removing the AutoResizer, and using `maxHeight={Infinity}` instead of providing a height. Thanks!

[2022-01-10 20:36] #353 closed

[2022-01-11 03:21] conchau opened #354 "Force rerender of column when props change"
I'm providing a value via props from a parent component to a child component that contains my BaseTable. The value that is passed down is successfully rendered in one of the columns via the cellRenderer.

The issue is that whenever the value is updated in the parent component, the value that is passed to my table via props is not forcing the Column to rerender. I have confirmed the child component

[2022-01-11 22:31] #354 closed

[2022-01-13 10:29] danielwyb commented on #125
Yes @mmahalwy. Did you find one or do you need input?

[2022-01-27 16:52] nchartiot commented on #125
@danielwyb could you provide some info or gist on how you got this working? I'm trying to deal with the different widths of each column to align the footer elements

[2022-02-04 12:17] maxcorbeau commented on #251
Great library, but it's a pity that being designed to **"display large datasets"** it doesn't support `array of arrays` as they have lower server transfer/ browser memory footprint.

[code]

**Any chance of seeing support for `array of arrays` any time soon?**

[2022-02-04 12:48] maxcorbeau commented on #251
I see `column.dataGetter` in the API doc, is this the recommended way to go?
https://autodesk.github.io/react-base-table/api/column

[2022-02-04 13:49] nihgwu commented on #251
@maxcorbeau yes, and probably you can just use index a dataKey, like `dataKey="0"`

[2022-02-21 14:20] abhirock1998 opened #361 "unable to console first render values"
Scrolling and printing values are fine but if I move on to another category in the sidebar and render new table from there. It's not printing values of it in the console.

[code]

[code]

[2022-02-25 01:33] seanvgarner opened #362 "Issues with Copy/paste functionality"
I am having issues with react-base-table in a work project where users are unable to copy and paste from a table cell. It happen's in places where we are dynamically generating some html content to throw into the cell.

I tried reproducing in isolation to be able to present an example, but unfortunately to no avail. It is a bit cumbersome to fully recreate as it is part of a larger app. We have an

[2022-02-28 03:09] dil12321 opened #364 "table doesnt show correctly"
this doesn't work at all
<img width="750" alt="Screen Shot 2022-02-28 at 2 08 28 pm" src="https://user-images.githubusercontent.com/30675549/155917663-f2c037fc-f553-491e-83d1-2c5adbe33aa6.png">

[2022-02-28 19:34] jamesonhill commented on #364
Did you import the lib css?

[2022-03-01 03:08] dil12321 commented on #364
Thanks, this worked

[2022-03-01 03:08] #364 closed

[2022-03-01 03:10] dil12321 opened #365 "Is it possible to have a table with both rowSpan and fixed columns?"
If so, is there an example of this?

[2022-03-16 07:27] murtdagi opened #366 "Dynamically color the rows based on some information in the row prop"
Is there a simple way of dynamically colouring the table rows based on some prop values? I have a scenario where the user has configured what color they want the rows to be based on some values in the rows.
any thoughts @nihgwu ?

[2022-03-16 20:24] jamesonhill commented on #366
`rowClassName={({ rowData }) => rowData.error ? styles.red : styles.black}`

[2022-03-23 18:25] ElixirMike opened #367 "How to use scrollToRow on functional component load?"
I'm using a functional component and trying to use the scrollToRow method when the component loads.
It works fine if I have it triggered from button click, etc, but for some reason, I cannot get it to work when component/table first is loaded.

In the useEffect, I do all the logic to create/load the data, and then call the scrollToRow method, but it isnt' working.

What is the best way to have thi

[2022-03-23 23:05] nihgwu commented on #367
https://autodesk.github.io/react-base-table/playground#MYewdgzgLgBKA2BXAtpGBeGBzApmHATgIZQ4DCISqEAFAIwAMAlAFCiSwAmJRG2ehEjgAiPGghSQANDABMDZixY4AHgAcQBLjgBmRRPFg0mGAHwwYAbxYX20GFCIAjeDgBKuvh6LAoAOkQId10aMAN4VltwewBteCIALwBPUUcZIKgAGUSUngBdLxwff0CcAGVHUhoYvMiYGxhvXwCggFEdHRxfGmMzKwaLDOzk1KIabkc6qMhKHD94ECwaAHIASRgAd3AAHWXYRDUJnBgIJLBgeCTlmXiRnimYAHpHhwALAEsITfA974IAaxgRC+jhcxwmvE+MBwyDUUCSAwczlcHh0f

[2022-03-23 23:05] #367 closed

[2022-03-25 03:20] Yeenot commented on #156
@nihgwu @StianIsmar Is there any workaround on solving this flickering issue when scrolling down?

[2022-04-06 08:01] shinenic opened #368 "Sticky header with frozen column on window scroll"
Hi @nihgwu

first of all, thanks for the handy library,
I saw the comment in the issue https://github.com/Autodesk/react-base-table/issues/281,
but still have questions about how to apply `sticky` on the header with `frozen columns`,

this is a rough example when I try to add a sticky effect on it ([link](https://autodesk.github.io/react-base-table/playground#MYewdgzgLgBKA2BXAtpGBeGBzApmHATgIZQ4DC

[2022-04-21 18:14] seanvgarner commented on #362
Is there anyone who can look into this to give some guidance?

[2022-04-21 22:11] nihgwu commented on #362
I don't understand as I think copy&paste is a native browser behaviour, how do you select and copy?

[2022-04-21 22:25] nihgwu commented on #368
@shinenic I'm sorry it's not possible as there is `overflow: hidden` in frozen table, so `sticky` won't work in it

[2022-04-21 22:27] nihgwu commented on #365
That would be super tricky as the fixed columns are in another table
Previously it's implemented to work in IE10 which doesn't support `position: sticky`, but now it's dead, we can use a single table to implement it, but I'm so sorry I don't have the energy to continue the work right now

[2022-04-21 22:38] nihgwu commented on #361
Not sure if it's a bug in `react-window`, as a walk-around you can add `key` to the table

[2022-05-02 21:20] jeancatarina opened #371 "'BaseTable' cannot be used as a JSX component."
how i can use react base table with typescript? i have this error

![image](https://user-images.githubusercontent.com/20483048/166329485-28c17186-b373-41b1-afa5-bf28d935539f.png)
![image](https://user-images.githubusercontent.com/20483048/166329598-9da0e47d-dfff-4c66-aff8-8f36c3ac541c.png)

[2022-05-03 13:21] jeancatarina commented on #371
update: i fixed this bug downgrading the lib to the version:

"react-base-table": "1.10.5"

and i create a d.ts file:

react-base-table.d.ts
`declare module 'react-base-table'`

[2022-05-19 12:45] mkhib opened #375 "Header Column title is not accessible when testing with @testing-library/react"
I tried to get header column title by getByText and also I saw the snapshot and none of my header column titles were in the snapshop. How can I access to header columns titles when testing ?

[2022-05-19 14:44] xluox opened #376 "EstimatedRowHeight does not set the default height for rows"
I would like to know how to set the default row height. When estimatedRowHeight is not specified, the rows have a decent row height. However, when estimatedRowHeight is set, It stuck with the minimum row height. No matter how I change the number for estimatedRowHeight, it is still the minimum row height
![Screen Shot 2022-05-19 at 10 42 37 AM](https://user-images.githubusercontent.com/37052306/169

[2022-05-22 10:52] mkhib commented on #375
I want to test that clicking the column title will change the sorting of the data. Also another thing is that when testing even if I change the `window.innerHeight`  only two of the rows are rendered and accessible by matchers is it possible to increase this amount ? I am wrapping table with `AutoSizer` component.

[2022-06-13 12:03] shaziajk opened #377 "Aria-label being passed to header"
Hi @nihgwu @jamesonhill

Is there any way to currently pass down an aria-label in the props to the table?
In the current use case I have the table is being flagged for having accessibility issues as there is no programmatically associated name with the component

Thanks!

[2022-06-13 13:56] nihgwu commented on #377
@jamesonhill It's always me not Autodesk maintaining this library 😢 , I planned to work on a rewrite but I don't work with data anymore, and I was busy with other stuffs, so actually there is no effort on new features, but I'd say the current version is already good enough if you need to support IE11, and it's still used in Autodesk

I'd like to know what changes you have made, probably we can do

[2022-06-13 14:04] jamesonhill commented on #377
Ah, I see. I incorrectly assumed [based on your comment](https://github.com/Autodesk/react-base-table/issues/3#issuecomment-910805203) & seeing no PRs merged that it was no longer maintained. The main thing we use the fork for is this fix:  https://github.com/Autodesk/react-base-table/pull/334.

[2022-06-13 14:10] nihgwu commented on #377
OK I'll take a look at your PR and try to land it soon, sorry I missed that

[2022-06-13 15:29] shaziajk commented on #377
Thank you for your replies!

[2022-06-14 21:08] Xtinct opened #378 "Vertical scroll problems on latest Chrome/MacOs"
Vertical table scrolling is almost completely broken with latest version of Chrome(102.0.5005.115 arm64) on MacOs. Scrolling immediately stops when starting scroll hovering table row to a point when this row is being deleted because of virtualization. Reproducible for me with every example from documentation: https://autodesk.github.io/react-base-table/examples/default
It seems that problem comes

[2022-06-28 06:52] zhan8863 opened #379 "Display issues with frozen and Detail View"
<img width="1458" alt="image" src="https://user-images.githubusercontent.com/10891518/176112643-d4b9c95e-bdbe-4127-8bb5-09b427ac67c0.png">
the example https://autodesk.github.io/react-base-table/examples/detail-view

How to solve the display problem caused by using both frozen column and detail view

[2022-06-28 06:53] zhan8863 commented on #379
const columns = generateColumns(10)
columns[0].frozen = 'left'

const data = generateData(columns, 200)
console.log(columns)
data.forEach(x => {
  x.children = [
    {
      id: `${x.id}-detail`,
      content: faker.lorem.paragraphs(),
    },
  ]
})

const GlobalStyle = createGlobalStyle`
  .BaseTable__row--depth-0 {
    height: 50px;
  }

  .BaseTable__row--depth-0 .BaseTable__row-cell-text {

[2022-07-06 22:16] GregoryPotdevin commented on #36
Thanks, we implemented this for our backoffice (some tables have 10k lines and 50+ columns) and the table feels much more responsive now.

Maybe this code sample could be added to the standard examples on the website ?

[2022-07-08 11:22] qiang-chen opened #380 "resetRowHeightCache 重置行高不生效"
![image](https://user-images.githubusercontent.com/51185533/177982836-11c2ec21-a3af-4bfb-a668-ff2b95e549d5.png)
如图所示 当form校验出现问题 内容展示不全。我也使用了estimatedRowHeight

[2022-07-08 11:23] qiang-chen commented on #380
当鼠标滑倒其他行就会自己更新这个行高问题

[2022-07-12 14:47] rafaelmvdd opened #381 "Unable to tab through the header elements before the body of the table"
Hey,

I'm having an issue trying to use TAB to each access the header of the table before the the body. I believe this is caused by the way the table is rendered. In the image, the element for the body of the table with classname "BaseTable_body" is rendered before the header element with classname "BaseTable_header". Is there a work around so the header is rendered above the body of the table so

[2022-08-04 07:14] FrominXu opened #383 "set flexShrink 0 horizontal direction cannot scroll"
columns total width is large than table width, fixed = false, flexGrow = 1, when set flexShrink=0, horizontal direction can not scrolling

[2022-08-05 06:54] igor-litvintsev commented on #306
the same problem, please tell me which library you use?

[2022-08-05 09:22] nihgwu commented on #383
It's intended, flexible table(fixed=false) can't be scrolled horizontally

[2022-08-29 07:53] #383 closed

[2022-09-01 06:57] sandeep-kr-kgp opened #384 "working with React v18"
Hi, I am using BaseTable in v18. For my use case it works fine but in peer dependencies the versions mentioned are `"react": "^16.0.0 || ^17.0.0"`

Is it not meant to be used with v18 ?

[2022-09-08 02:48] qiang-chen commented on #158
请问如何merging rows

[2022-09-08 03:09] qiang-chen commented on #198
大佬 这种合并行怎么做的

[2022-09-09 06:23] sklinov commented on #350
@ElixirMike Could you please share the details on your solution?

[2022-09-15 13:09] ElixirMike opened #385 "How to scrollToPosition on table load?"
I am using a functional component, and what I'm trying to do is, upon loading the table, scroll to a specific position.
The issue is, my ref is always undefined, and I'm not sure why?

I make ref like this:
const tableRef = useRef();

Then, my useEffect which runs when component is loaded.

[code]
      <AutoResizer>
        {({ width, height }) => (
          <BaseTable
            ref={tableRef}

[2022-09-15 13:36] ElixirMike commented on #385
figured it out

[2022-09-15 13:36] #385 closed

[2022-09-23 03:05] FrominXu opened #386 "emptyRenderer not work when maxHeight setted"
emptyRenderer not work when maxHeight setted

[2022-11-01 12:37] lucassoni commented on #384
Please update to react 18!

[2022-11-01 12:39] HenriqueVarellaEhrenfried commented on #384
I also wonder why we can not use it in React 18. React 18 launched on March.

[2022-11-01 12:50] ferhdhd commented on #384
Your extension helps my project a lot! Please update to React 18.

[2022-11-06 17:06] mikku489 opened #387 "Invalid ref in NextJS"
Is there a way to pass the ref to custom cell renders in NextJS environment?

The [Inline Editing](https://autodesk.github.io/react-base-table/examples/inline-editing) example in the documentation website doesn't work in NextJS because the ref provided to `EditableCell` is always null. I have tried various workarounds like loading the component dynamically and then using React.ForwardRef ([link](h

[2022-11-10 13:25] evskorobogatij commented on #371
I have same bug.

[2022-11-11 15:45] ElixirMike opened #388 "Is is possible to set width to maxContent?"
When rendering the table, I'd like the table width to match whatever the max content of the table contents is.
is this possible? Currently it seems using Autosizer, I need to set an actual number to the width attribute, but ultimately, like a div, I'd like to set it to "maxContent" or an equivalent.

Appreciate if you let me know how I might do that.

[2022-11-14 12:39] Vanluren opened #391 "Need for a helping hand maintaining this?"
Hi 👋
Great work on this library! It really removes a lot of complexity when building a custom table for a design system. It seems like there might not be a lot of activity on the library maintenance side though and I would love to offer up my help if you need it 👍